nav{background-color: rgb(52, 54, 52);
    color: rgb(255, 255, 255);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    border: 5px solid black;
}
body{
    background-color: rgb(39, 39, 39);
}
nav> a{
    display: flex;
    align-items: center;
    border-radius: 25%;
    height: 40px;
    color: rgb(255, 0, 0);
    transition: 800ms;
    
}
nav> a:hover{
    height: 25px;
    background-color: rgb(56, 0, 0);
    background-position: center;
    background-size: cover;
    transition: 800ms;
    border-radius: 5px
}

#logo{
    height: 260px;

}

#pesquisa{
    height: 40px;
    width: 250px;
    border-radius: 50px;
}

.uau{
    color: red;
}
.thumb{
    width: 250px;
    height: 250px;
    background-image: url('https://d3alv7ekdacjys.cloudfront.net/Custom/Content/Products/11/69/1169661_guitarra-les-paul-gibson-standard-slash-appetite-burst-ms_m2_637816655406828969.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
}
.super{
    width: 250px;
    height: 250px;
    background-image: url('https://thumbs.static-thomann.de/thumb/padthumb600x600/pics/bdb/_36/362691/9907171_800.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
}
.nir{
    width: 250px;
    height: 250px;
    background-image: url('https://madeinbrazil.fbitsstatic.net/img/p/0143000700-guitarra-sig-series-kurt-cobain-jaguar-fender-69095/255578.jpg?w=800&h=800&v=no-change&qs=ignore');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
}
.snake{
    background-color: white;
    width: 250px;
    height: 250px;
    background-image: url('https://www.musicbliss.com.my/cdn/shop/files/SNAKEBYTE-SnowWhite_700x700.png?v=1695201502');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
}
.acu{
    width: 250px;
    height: 250px;
    background-image: url('https://cdn11.bigcommerce.com/s-dks6ju/images/stencil/1280x1280/products/31674/562343/vintage-gibson-es-335-tdc-cherry-1968__11270.1712034335.jpg?c=2');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
}
.rece{
    width: 250px;
    height: 250px;
    background-image: url('https://r2.gear4music.com/media/94/940630/600/preview_1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
}
.tempo{
    font-size: 20px;
    background-color: rgb(52, 54, 52);
    width: 100%;
    text-align: center;
}
.tempo{
    font-size: 20px;
    background-color: rgb(52, 54, 52);
    width: 100%;
    text-align: center;
}
#brawl{
    border: 2px solid rgb(0, 0, 0);
    width: 250px;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.starts{
    width: 250px;
    height: 120px;
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.visualização>img{
    height: 30px;
}
#oi{
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);
    width: 250px;
    display: flex;
    flex-direction: column;
    color: rgb(255, 0, 0);
    text-decoration: none;
    transition: 800ms;
}
#oi:hover{
    color: rgb(56, 0, 0);
    scale: 1.1;
}

.cards{
    background-color: rgb(39, 39, 39);
    border: 5px solid black;
    display:flex;
    padding: 40px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.opcoes{
    display: flex;
    gap: 10px;
}
.visualização{
    text-align: center;
    padding: 10px;
}

@media (max-width: 1200px){
    .opcoes{
        flex-direction: column;
    }
}
h1{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: red;
}
.cards > div{
    display: flex;
    gap: 50px;
}
.texto{
    width: 400px;
    transition: 1s;
    opacity: 0;
    overflow: hidden;
    font-size: 30px;
}
#oi:hover .texto{
    opacity: 1;
}

.cards:hover .texto{
    opacity: 1;
}

