body{
    background-color: rgb(39, 39, 39);
}
nav{background-color: rgb(52, 54, 52);
    color: rgb(255, 255, 255);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    border: 5px solid black;
}
nav> a{
    display: flex;
    align-items: center;
    border-radius: 25%;
    height: 40px;
    color: rgb(255, 0, 0);
    transition: 800ms;
}
nav> a:hover{
    height: 25px;
    background-color: rgb(56, 0, 0);
    background-position: center;
    background-size: cover;
    transition: 800ms;
    border-radius: 5px
}
#pesquisa{
    height: 40px;
    width: 250px;
    border-radius: 50px;
}
.uau{
    color: red;
}
.marcas{
    display: flex;
    flex-wrap:wrap;
    padding: 50px;
    gap: 50px;

}
.marcas>a>img{
    height: 100px;
    width: 300px;
}
.carlos>img{
    height: 125px;
}
.thumb{
    width: 250px;
    height: 250px;
    background-image: url('https://cdn11.bigcommerce.com/s-dks6ju/images/stencil/1280x1280/products/13572/288080/0110120805_1__01146.1715999387.jpg?c=2');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
}
.SG{
    width: 250px;
    height: 250px;
    background-image: url('https://m.media-amazon.com/images/I/51MKBmn5hbL.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start
}
.acu{
    width: 250px;
    height: 250px;
    background-image: url('https://images-americanas.b2w.io/produtos/47721162/imagens/guitarra-fender-60s-jaguar-lacquer-pf-lake-placid-blue/47721164_1_xlarge.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
}
.fly{
    width: 250px;
    height: 250px;
    background-image: url('https://d1z9meo96z0rqn.cloudfront.net/Custom/Content/Products/16/93/16934_flying-v-70s-classic-white-ps-4751-143233_m1_638102521685852302.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
}.exp{
    width: 250px;
    height: 250px;
    background-image: url('exp.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
}
.fir{
    width: 250px;
    height: 250px;
    background-image: url('https://static.mundomax.com.br/produtos/53070/550/1.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
}
#oi{
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);
    width: 250px;
    display: flex;
    flex-direction: column;
    color: rgb(255, 0, 0);
    text-decoration: none;
    transition: 800ms;
}
#oi:hover{
    color: rgb(56, 0, 0);
    scale: 1.1;
}
.cards{
    background-color: rgb(39, 39, 39);
    border: 5px solid black;
    display:flex;
    padding: 40px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.tempo{
    font-size: 20px;
    background-color: rgb(52, 54, 52);
    width: 100%;
    text-align: center;
}
nav> a{
    display: flex;
    align-items: center;
    border-radius: 25%;
    height: 40px;
    color: rgb(255, 0, 0);
    transition: 800ms;
}
nav> a:hover{
    height: 25px;
    background-color: rgb(56, 0, 0);
    background-position: center;
    background-size: cover;
    transition: 800ms;
    border-radius: 5px
}
.starts{
    width: 250px;
    height: 120px;
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.visualização{
    text-align: center;
    padding: 10px;
}